<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body class="has-background-light">
    <!-- navbar -->
    <nav class="navbar has-shadow">
      <div class="container" style="flex-grow: 1; justify-content: center;">
        <p class="is-size-5 navbar-brand navbar-item">JUnit XML Viewer</p>
      </div>
    </nav>
    <!-- Testsuites tab -->
    <div class="container section">
      <div class="block has-text-centered">
        <h1 class="has-text-weight-medium">{{.Name}} (Time: {{.Time}}, Timestamp: {{.Timestamp}})</h1>
      </div>
      <div id="{{.Name}}">
        <!-- Testsuites cards -->
        <div class="columns">
          <div class="column">
            <div class="card">
              <header class="card-header has-background-grey-light">
                <p class="card-header-title">Tests</p>
              </header>
              <div class="card-content">
                <div class="content">{{.Tests}}</div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <header class="card-header has-background-success">
                <p class="card-header-title">Success</p>
              </header>
              <div class="card-content">
                <div class="content">{{.GetSuccessCount}}</div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <header class="card-header has-background-danger">
                <p class="card-header-title">Failures</p>
              </header>
              <div class="card-content">
                <div class="content">{{.Failures}}</div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <header class="card-header has-background-warning">
                <p class="card-header-title">Errors</p>
              </header>
              <div class="card-content">
                <div class="content">{{.Errors}}</div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <header class="card-header has-background-link-light">
                <p class="card-header-title">Skipped</p>
              </header>
              <div class="card-content">
                <div class="content">{{.Skipped}}</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Testcases table -->
        {{if .TestCases}}
        <div class="columns">
          <div class="column">
            <table class="table is-fullwidth is-hoverable">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Class Name</th>
                  <th>Name</th>
                  <th>Time</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{range $i, $tc := .TestCases}}
                <tr class="is-clickable">
                  <td>{{inc $i}}</td>
                  <td>{{$tc.ClassName}}</td>
                  <td>{{$tc.Name}}</td>
                  <td>{{$tc.Time}}</td>
                  <td>
                    {{if $tc.Failure.Message}}
                    <span class="tag is-danger is-light">Fail</span>
                    <div class="modal">
                      <div class="modal-background"></div>
                      <div class="modal-card">
                        <section class="modal-card-body">
                          <pre>
                            <code>{{$tc.Failure.Value}}</code>
                          </pre>
                        </section>
                      </div>
                    </div>
                    {{end}}
                    {{if $tc.Error.Message}}
                    <span class="tag is-warning is-light">Error</span>
                    <div class="modal">
                      <div class="modal-background"></div>
                      <div class="modal-card">
                        <section class="modal-card-body">
                          <pre>
                            <code>{{$tc.Error.Value}}</code>
                          </pre>
                        </section>
                      </div>
                    </div>
                    {{end}}
                    {{if $tc.Skipped.Message}}
                    <span class="tag is-link is-light">Skip</span>
                    <div class="modal">
                      <div class="modal-background"></div>
                      <div class="modal-card">
                        <section class="modal-card-body">
                          <h4 class="subtitle is-size-4"><b>Reason: </b>{{$tc.Skipped.Message}}</h4>
                        </section>
                      </div>
                    </div>
                    {{end}}
                  </td>
                </tr>
                {{end}}
              </tbody>
            </table>
          </div>
        </div>
        {{end}}
      </div>
    </div>
    <script>
      const trs = document.querySelectorAll('tr');
      trs.forEach(tr => {
        const modal = tr.querySelector('.modal');
        if (modal) {
          tr.addEventListener('click', () => {
            modal.classList.toggle('is-active');
          });
        }
      });
    </script>
  </body>
</html>
